@import url("/assets/style/varaibles.css");

footer {
    margin-top: 2em;
    background: var(--light);
}

.span__footer {
    color: var(--textlight);
    font-family: var(--ff);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.list {
    display: flex;
    gap: 2em;
}

.icon__light {

border-radius: 31px;
background: #FFF;
box-shadow: 0px 4px 12px 0px rgba(29, 29, 29, 0.15);

}

.icon__yellow {
    border-radius: 31px;
background: #FFCB45;
box-shadow: 0px 4px 24px 0px rgba(29, 29, 29, 0.25);
}

ul {        
    list-style-type: none;
}

.div-link {
    
   text-align: center;
}




.client-containner {
    display: flex;
   
}

.client {
    flex-direction: column;    
    text-align: center;
}

.client-card {
    flex-direction: column;
}

.div-footer {
  display: none;
}

@media (min-width: 1440px) {   

.containner-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.div-footer {
    display: block;
}

}