@import url("/assets/style/varaibles.css");

header {
    background: var(--light);
    
}


  

h1 {
    color: var(--black);
    font-family: var(--ff);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

strong {
    color: var(--primary);
    font-family: var(--ff);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

p {
    color: var(--textlight);    
    font-family: var(--ff);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a {
    text-decoration: none;
    color: var(--black);
    justify-content: center;
    align-items: center;
    gap: 16px;
}


.btn-header {    
    padding: 8px 46px;
    font-family: var(--ff);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 50px;    
    background: var(--primary);
    
}

.sec-header {
    display: flex;
    justify-content: space-around;
}

.div-nav {
    margin-top: 1em;
}


.plates {
    display: none;
}

#menu {
    display: block;
}

 .div-nav-link {
    display: none;
}


.nav-active {
    display: block;
  }


  #menu__button {
    display: block;
}

 



@media (min-width: 1440px) {

    #menu__button {
        display: none;
    }
    
     

    .div-nav-link {
        display: block;
        color: var(--textlight);
        /* title2 */
        font-family: Readex Pro;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .containner-nav {
        display: flex;
        justify-content: space-around;
    }

    .lista-nav {
        display: flex;
        gap: 1em;
    }

    .div-nav-link {
       gap: 1em;
        
    }

    #btn-link{
        margin: 1em;
    }
    .plates {
        display: block;
    }



    
  

}


