@import url("/assets/style/varaibles.css");

header {
    background: var(--light);
    
}

h1 {
    color: var(--black);
    font-family: var(--ff);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

strong {
    color: var(--primary);
    font-family: var(--ff);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

p {
    color: var(--textlight);    
    font-family: var(--ff);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a {
    text-decoration: none;
    color: var(--black);
    justify-content: center;
    align-items: center;
    gap: 16px;
}


.btn-header {    
    padding: 8px 46px;
    font-family: var(--ff);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 50px;    
    background: var(--primary);
    
}

@media (min-width: 1440px) {

    .sec-header {
        display: flex;
        justify-content: space-between;
    }


  

}


